<div class="header-image header-image--partnership">
    <div class="container container--vertical-center">
        <h1 class="container__headline font-size--2_5">
            PARTNERSTVO
        </h1>
    </div>
</div>
<div class="container container--partnership">
    <h2>
        Želite li da vaš posao postane deo nečega većeg i uspešnijeg? <br>
        Franšiza restorana brze hrane "Plankton" je odličan način da to postignete!
    </h2><br>
    <p>
        Naš brend je već dokazao svoju popularnost i uspešnost u tržištu brze hrane, a sada želimo da podelimo našu uspešnu formulu sa drugima. Kao franšizni partner "Plankton“ restorana, nećete samo dobiti podršku i obuku od stručnog tima, već ćete postati deo naše poslovne porodice. Imaćete pristup našim iskustvima i znanjima, kao i priliku da radite sa ljudima koji su posvećeni uspehu i stvaranju nezaboravnog iskustva za naše klijente. 
    </p><br>


    <p>
        A što se tiče marketinškog plana i brenda, mi ćemo se pobrinuti da vaš restoran bude prepoznatljiv i privlačan za potencijalne klijente. <br>Mi ćemo vam pružiti sve potrebne alate i podršku da postanete lider u vašem lokalnom tržištu.
    </p><br>

    <p>
        Ako ste spremni da preuzmete izazov i radite sa nama na stvaranju uspeha, kontaktirajte nas putem našeg sajta ili pošaljite e-mail na <a href="mailto:plankton.klopa@gmail.com">plankton.klopa@gmail.com</a>. Mi ćemo se rado javiti i pokazati vam kako možemo zajedno da napravimo velike stvari! Mi smo tu da podržimo vaš uspeh i radujemo se što ćemo biti deo vašeg puta ka uspehu!"
    </p>

    
</div>