<div class="container container--contact">
    <div class="contact-item">
        <h2 class="contact-item__headline">
            Radno vreme:
        </h2>
        <div class="contact-item__content">
            Ponedeljak - Subota: <br>
            <span>09:00 - 23:30h</span>
        </div>

        <h2 class="contact-item__headline">
            Telefon:
        </h2>
        <div class="contact-item__content">
            <a href="tel:+381655132440">065 513 24 40</a><br>
            <a href="tel:+381649896612">064 989 66 12</a>
        </div>

        <h2 class="contact-item__headline">
            Adresa:
        </h2>
        <div class="contact-item__content">
            Profesora Vasića 1<br>
            Beograd - Vinča
        </div>

        <h2 class="contact-item__headline">
            Dostava:
        </h2>
        <div class="contact-item__content">
            Vinča, Leštane, Boleč, Kaluđerica, Ritopek.
        </div>

        <h2 class="contact-item__headline">
            Email:
        </h2>
        <div class="contact-item__content">
            <a href="mailto:plankton.klopa@gmail.com">plankton.klopa@gmail.com</a>
        </div>
        

        <h2 class="contact-item__headline">
            Društvene mreže:
        </h2>
        <div class="contact-item__content">
            <a class="contact-item__content__image" href="https://sr-rs.facebook.com/fastfoodplankton/" target="_blank">
                <img src="../../../assets/img/social-media/fb.svg" alt="Facebook">
            </a>
            <a class="contact-item__content__image" href="https://www.instagram.com/plankton_fastfood/?hl=en" target="_blank">
                <img src="../../../assets/img/social-media/instagram.svg" alt="Instagram">
            </a>
        </div>
    </div>

    <div class="contact-item">
        <div class="contact-item__content">
            <iframe class="contact-item__content__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2833.7034837133488!2d20.59597261596443!3d44.74606587909896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a77b68aa740c5%3A0x45ca86d4a88e485f!2sFast%20food%20PLANKTON!5e0!3m2!1sen!2srs!4v1674926489800!5m2!1sen!2srs" width="100%" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>
</div>