<section class="section" #gyros style="background-image: url('/assets/img/menu/gyros.jpeg');">
    <h2 class="section__headline">
        GIROS
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PILECI GIROS</th>
                    <th>MALI / 200g</th>
                    <th>VELIKI / 360g</th>
                    <th>PORCIJA / 450g</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom i prilozima po želji.</td>
                </tr>
                <tr>
                    <td colspan="4">** Prilozi.</td>
                </tr>
                <tr>
                    <td>Tzaziki</td>
                    <td>Paradajz</td>
                    <td>Crveni luk</td>
                    <td>Pavlaka</td>
                </tr>
                <tr>
                    <td>Kečap</td>
                    <td>Semf</td>
                    <td>Majonez</td>
                    <td>Čili</td>
                </tr>
                <tr>
                    <td>Tucana paprika</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" #pizza style="background-image: url('/assets/img/menu/pizza.jpeg');">
    <h2 class="section__headline">
        PIZZA
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PIZZA</th>
                    <th>28cm</th>
                    <th>32cm</th>
                    <th>42cm</th>
                    <th>52cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MARGARITA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, masline, origano
                    </td>
                </tr>

                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom, crvenim lukom i zelenom salatom.</td>
                </tr>
                <tr>
                    <td colspan="5">** Dodatni prilozi po želji.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" #pancake style="background-image: url('/assets/img/menu/pancake.jpeg');">
    <h2 class="section__headline" style="font-size: 13rem;">
        PALACINKE
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PIZZA</th>
                    <th>S / 28cm</th>
                    <th>M / 32cm</th>
                    <th>L / 38cm</th>
                    <th>XL / 42cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MARGARITA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom, crvenim lukom i zelenom salatom.</td>
                </tr>
                <tr>
                    <td colspan="5">** Dodatni prilozi po želji.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" #sandwiches style="background-image: url('/assets/img/menu/sandwich.jpeg');">
    <h2 class="section__headline" style="font-size: 13rem;">
        SENDVIČI
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PIZZA</th>
                    <th>S / 28cm</th>
                    <th>M / 32cm</th>
                    <th>L / 38cm</th>
                    <th>XL / 42cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MARGARITA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom, crvenim lukom i zelenom salatom.</td>
                </tr>
                <tr>
                    <td colspan="5">** Dodatni prilozi po želji.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>