<section class="section" id="gyros" style="background-image: url('/assets/img/menu/gyros.jpeg');">
    <h2 class="section__headline">
        GIROS
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PILECI GIROS</th>
                    <th>M / 200g</th>
                    <th>L / 360g</th>
                    <th>PORCIJA / 450g</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom, crvenim lukom i zelenom salatom.</td>
                </tr>
                <tr>
                    <td colspan="4">** Dodatni prilozi po želji.</td>
                </tr>
                <tr>
                    <td>Pavlaka</td>
                    <td>Tzaziki</td>
                    <td>Semf</td>
                    <td>Kečap</td>
                </tr>
                <tr>
                    <td>Pavlaka</td>
                    <td>Tzaziki</td>
                    <td>Semf</td>
                    <td>Kečap</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" id="pizza" style="background-image: url('/assets/img/menu/pizza.jpeg');">
    <h2 class="section__headline">
        PIZZA
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PIZZA</th>
                    <th>S / 28cm</th>
                    <th>M / 32cm</th>
                    <th>L / 38cm</th>
                    <th>XL / 42cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MARGARITA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom, crvenim lukom i zelenom salatom.</td>
                </tr>
                <tr>
                    <td colspan="5">** Dodatni prilozi po želji.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" id="pancake" style="background-image: url('/assets/img/menu/pancake.jpeg');">
    <h2 class="section__headline" style="font-size: 13rem;">
        PALACINKE
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PIZZA</th>
                    <th>S / 28cm</th>
                    <th>M / 32cm</th>
                    <th>L / 38cm</th>
                    <th>XL / 42cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MARGARITA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
                <tr>
                    <th>CAPRICCIOSA</th>
                    <td>300din.</td>
                    <td>400din.</td>
                    <td>500din.</td>
                    <td>500din.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom, crvenim lukom i zelenom salatom.</td>
                </tr>
                <tr>
                    <td colspan="5">** Dodatni prilozi po želji.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>