<section class="section" #gyros style="background-image: url('/assets/img/menu/gyros.jpeg');">
    <h2 class="section__headline">
        GIROS
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>PILECI GIROS</th>
                    <th>MALI / 350g</th>
                    <th>VELIKI / 500g</th>
                    <th>PORCIJA / 700g</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <td>330d.</td>
                    <td>460d.</td>
                    <td>770d.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">* Sve porcije se služe u domaćoj lepinji sa svežim pofritom i prilozima po želji</td>
                </tr>
                <tr>
                    <td colspan="4">** Prilozi</td>
                </tr>
                <tr>
                    <td>Tzaziki</td>
                    <td>Paradajz</td>
                    <td>Crveni luk</td>
                    <td>Pavlaka</td>
                </tr>
                <tr>
                    <td>Kečap</td>
                    <td>Semf</td>
                    <td>Majonez</td>
                    <td>Čili</td>
                </tr>
                <tr>
                    <td>Tucana paprika</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" #pizza style="background-image: url('/assets/img/menu/pizza.jpeg');">
    <h2 class="section__headline">
        PIZZA
    </h2>
    <div class="section__dark">
        <table class="section__table section__table--pizza">
            <thead>
                <tr>
                    <th>PIZZA</th>
                    <th>28cm</th>
                    <th>32cm</th>
                    <th>42cm</th>
                    <th>52cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>MARGARITA</th>
                    <td>580d.</td>
                    <td>640d.</td>
                    <td>950d.</td>
                    <td>1180d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, masline, origano
                    </td>
                </tr>

                <tr>
                    <th>VEGETARIJANA</th>
                    <td>630d.</td>
                    <td>690d.</td>
                    <td>1020d.</td>
                    <td>1260d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, luk, paprika, masline, kukuruz, origano, paradajz
                    </td>
                </tr>
                
                <tr>
                    <th>FUNGI</th>
                    <td>620d.</td>
                    <td>670d.</td>
                    <td>1000d.</td>
                    <td>1240d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, masline, origano
                    </td>
                </tr>  
                
                
                <tr>
                    <th>VESUVIO</th>
                    <td>630d.</td>
                    <td>700d.</td>
                    <td>1100d.</td>
                    <td>1300d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, šunka, masline, origano
                    </td>
                </tr>  

                
                <tr>
                    <th>CAPRICCOSA</th>
                    <td>580d.</td>
                    <td>640d.</td>
                    <td>950d.</td>
                    <td>1180d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, šunka, masline, origano
                    </td>
                </tr>  

                
                <tr>
                    <th>TUNA</th>
                    <td>680d.</td>
                    <td>750d.</td>
                    <td>1230d.</td>
                    <td>1450d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, povrće, tuna, pečurke, paprika, masline, luk, kukuruz, origano, limun
                    </td>
                </tr>  

                
                <tr>
                    <th>QUATTRO STAGIONI</th>
                    <td>700d.</td>
                    <td>780d.</td>
                    <td>1240d.</td>
                    <td>1480d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, kulen, jaja, šunka, masline, origano, feferoni
                    </td>
                </tr>  

                
                <tr>
                    <th>MEXICANA</th>
                    <td>730d.</td>
                    <td>820d.</td>
                    <td>1350d.</td>
                    <td>1590d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, šunka, kulen, masline, origano, feferoni, tucana paprika
                    </td>
                </tr>  

                
                <tr>
                    <th>ZLATIBORSKA</th>
                    <td>750d.</td>
                    <td>860d.</td>
                    <td>1360d.</td>
                    <td>1620d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, pavlaka, kačkavalj, pršuta, pečurke, kajmak, jaje, masline, origano
                    </td>
                </tr>  

                
                <tr>
                    <th>SRPSKA</th>
                    <td>760d.</td>
                    <td>870d.</td>
                    <td>1360d.</td>
                    <td>1630d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, kulen, pečenica, slaninica, jaje, masline, origano
                    </td>
                </tr>  

                
                <tr>
                    <th>FETUCINO</th>
                    <td>780d.</td>
                    <td>900d.</td>
                    <td>1400d.</td>
                    <td>1650d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, šunka, pršuta, feta, masline, origano, rukola
                    </td>
                </tr>  

                
                <tr>
                    <th>PARMA</th>
                    <td>780d.</td>
                    <td>890d.</td>
                    <td>1390d.</td>
                    <td>1640d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, kačkavalj, pečurke, pečenica, susam rub, masline, bosiljak, rukola
                    </td>
                </tr>  

                
                <tr>
                    <th>PLANKTON</th>
                    <td>800d.</td>
                    <td>920d.</td>
                    <td>1420d.</td>
                    <td>1700d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pelat, pečurke, šunka, kulen, pečenica, pršuta, jaje, parmezan, masline, origano, pavlaka, rukola
                    </td>
                </tr>
                <tr>
                    <th>GIROS PIZZA</th>
                    <td>820d.</td>
                    <td>930d.</td>
                    <td>1430d.</td>
                    <td>1720d.</td>
                </tr>
                <tr>
                    <td colspan="5">
                        pavlaka, pelat, giros meso, pršuta, kačkavalj, tzaziki, paradajz, luk
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
</section>

<section class="section" #pancake style="background-image: url('/assets/img/menu/pancake.jpeg');">
    <h2 class="section__headline">
        PALAČINKE
    </h2>
    <div class="section__dark section__dark--palacinke">
        <table class="section__table">
            <thead>
                <tr>
                    <th colspan="4">SLANE PALAČINKE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>SPECIJAL 1</th>
                    <td colspan="2">pršuta, kajmak, kačkavalj</td>
                    <td>400d.</td>
                </tr>
                <tr>
                    <th>SPECIJAL 2</th>
                    <td colspan="2">pečenica, kulen, kačkavalj, tzaziki</td>
                    <td>390d.</td>
                </tr>
                <tr>
                    <th>SPECIJAL 3</th>
                    <td colspan="2">pršuta, pavlaka, pečurke, kačkavalj</td>
                    <td>440d.</td>
                </tr>
                <tr>
                    <th>SPECIJAL 4</th>
                    <td colspan="2">šunka, pavlaka, kačkavalj, pržena slaninica</td>
                    <td>450d.</td>
                </tr>
                <tr>
                    <th>ŠUNKA</th>
                    <td colspan="2">pavlaka, kačkavalj</td>
                    <td>290d.</td>
                </tr>
                <tr>
                    <th>PEČENICA</th>
                    <td colspan="2">pavlaka, kačkavalj</td>
                    <td>320d.</td>
                </tr>
                <tr>
                    <th>KULEN</th>
                    <td colspan="2">pavlaka, kačkavalj</td>
                    <td>320d.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">* Dodaci</td>
                </tr>
                <tr>
                    <td>jaje </td>
                    <td>dinstane pečurke</td>
                    <td>feta</td>
                    <td>kulen</td>
                </tr>
                <tr>
                    <td>kajmak</td>
                    <td>pečenica</td>
                    <td>extra kačkavalj</td>
                </tr>
            </tfoot>
        </table>    
        
        <table class="section__table" style="margin-top: 0.25rem;">
            <thead>
                <tr>
                    <th colspan="4">SLATKE PALAČINKE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="3">Palačinka JAFA + eurokrem</th>
                    <td>350d.</td>
                </tr>
                <tr>
                    <th colspan="3">Palačinka KREM BANANICA + eurokrem</th>
                    <td>350d.</td>
                </tr>
                <tr>
                    <th colspan="3">Palačinka MILKA ČOKOLADA</th>
                    <td>350d.</td>
                </tr>
                <tr>
                    <th colspan="3">Palačinka KONDER ČOKOLADA</th>
                    <td>400d.</td>
                </tr>
                <tr>
                    <th colspan="3">Palačinka CHEESECAKE</th>
                    <td>400d.</td>
                </tr>
                <tr>
                    <th colspan="3">Šećer</th>
                    <td>150d.</td>
                </tr>
                <tr>
                    <th colspan="3">Džem 100g</th>
                    <td>170d.</td>
                </tr>
                <tr>
                    <th colspan="3">Med 100g</th>
                    <td>180d.</td>
                </tr>
                <tr>
                    <th colspan="3">Eurokrem 100g</th>
                    <td>210d.</td>
                </tr>
                <tr>
                    <th colspan="3">Nutela 100g</th>
                    <td>240d.</td>
                </tr>
                <tr>
                    <th colspan="3">Prazna</th>
                    <td>130d.</td>
                </tr>
                <tr>
                    <th colspan="3">* Dodaci</th>
                    <td>50d.</td>
                </tr>
            </tbody>
            <tfoot>
               
                <tr>
                    <td>plazma </td>
                    <td>kokos</td>
                    <td>kikiriki</td>
                    <td>suvo grožđe</td>
                </tr>
                <tr>
                    <td>banana</td>
                    <td>višnja</td>
                    <td>badem</td>
                    <td>lešnik</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

<section class="section" #sandwiches style="background-image: url('/assets/img/menu/sandwich.jpeg');">
    <h2 class="section__headline">
        SENDVIČI
    </h2>
    <div class="section__dark">
        <table class="section__table section__table--sandwich">
            <thead>
                <tr>
                    <th colspan="3">MALI SENDVIČI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>ŠUNKA</th>
                    <td>pavlaka, kačkavalj</td>
                    <td>220d.</td>
                </tr>
                <tr>
                    <th>PEČENICA</th>
                    <td>pavlaka, kačkavalj</td>
                    <td>230d.</td>
                </tr>
                <tr>
                    <th>KULEN</th>
                    <td>pavlaka, kačkavalj</td>
                    <td>230d.</td>
                </tr>
                <tr>
                    <th>PRŠUTA</th>
                    <td>pavlaka, kačkavalj</td>
                    <td>270d.</td>
                </tr>
                <tr>
                    <th>2 U 1</th>
                    <td>pavlaka, majonez, šunka, kačkavalj</td>
                    <td>240d.</td>
                </tr>
                <tr>
                    <th>TUNA</th>
                    <td>pelat, pečurke, luk, paradajz, masline</td>
                    <td>270d.</td>
                </tr>
            </tbody>
        </table>
        <table class="section__table" style="margin-top: 0.5rem;">
            <thead>
                <tr>
                    <th colspan="3">VELIKI SENDVIČI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>TUNA</th>
                    <td>tuna, pelat, pečurke, luk, paradajz, masline</td>
                    <td>370d.</td>
                </tr>
                <tr>
                    <th>PLANKTON SPECIJAL 1</th>
                    <td>kajmak u lepinji, salata</td>
                    <td>260d.</td>
                </tr>
                <tr>
                    <th>PLANKTON SPECIJAL 2</th>
                    <td>kajmak, pečenica, kačkavalj</td>
                    <td>320d.</td>
                </tr>
                <tr>
                    <th>PLANKTON SPECIJAL 3</th>
                    <td>kajmak, kulen, pečenica, kačkavalj</td>
                    <td>350d.</td>
                </tr>
                <tr>
                    <th>PLANKTON SPECIJAL 4</th>
                    <td>kajmak, kulen, pečenica, šunka, pršuta, jaje, kačkavalj</td>
                    <td>400d.</td>
                </tr>
                <tr>
                    <th>PLANKTON SPECIJAL 5</th>
                    <td>kajmak, pršuta, kačkavalj, rukola</td>
                    <td>380d.</td>
                </tr>
                <tr>
                    <th>TORTILJA SPECIJAL 1</th>
                    <td>2 jaja, pečurke, pavlaka, pečenica, pršuta, feta, paradajz, kačkavalj</td>
                    <td>510d.</td>
                </tr>
                <tr>
                    <th>TORTILJA SPECIJAL 2</th>
                    <td>kajmak, šunka, prena slaninica, pavlaka, kačkavalj, origano</td>
                    <td>470d.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="section" #salads style="background-image: url('/assets/img/menu/salads.jpeg');">
    <h2 class="section__headline">
        SALATE
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th colspan="2">SALATE</th>
                    <th>500g.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>CEZAR</th>
                    <td>ajzberg salata, dresing (preliv), piletina, pančeta, parmezan,brusketi, paradajz</td>
                    <td>700d.</td>
                </tr>
                <tr>
                    <th>GRČKA</th>
                    <td>feta, pradajz, krastavac, maslinovo ulje, bosiljak, </td>
                    <td>500d.</td>
                </tr>
                <tr>
                    <th>TUNA</th>
                    <td>testenina, tunjevina, ajzberg salata, crveni pasulj, kukuruz, paradajz</td>
                    <td>680d.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="section" #donuts style="background-image: url('/assets/img/menu/donuts.jpeg');">
    <h2 class="section__headline section__headline--donuts">
        AMERIČKE KROFNICE
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>AMERIČKE KROFNICE</th>
                    <th>MALA PORCIJA</th>
                    <th>VELIKA PORCIJA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>KREM</th>
                    <td>200d.</td>
                    <td>300d.</td>
                </tr>
                <tr>
                    <th>NUTELA</th>
                    <td>250d.</td>
                    <td>350d.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="section" #pomfrit style="background-image: url('/assets/img/menu/pomfrit.jpeg');">
    <h2 class="section__headline">
        POMFRIT
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th>POMFRIT</th>
                    <th>150g.</th>
                    <th>300g.</th>
                    <th>500g.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>PORCIJA</th>
                    <td>240d.</td>
                    <td>370d.</td>
                    <td>550d.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="section" #omelette style="background-image: url('/assets/img/menu/omelette.jpeg');">
    <h2 class="section__headline">
        OMLETI
    </h2>
    <div class="section__dark">
        <table class="section__table">
            <thead>
                <tr>
                    <th colspan="3">OMLETI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>OMLET SA ŠUNKOM</th>
                    <td>šunka, 3 jaja, pavlaka, kačkavalj, paradajz</td>
                    <td>360d.</td>
                </tr>
                <tr>
                    <th>OMLET SA SLANINICOM</th>
                    <td>pržena slaninica, 3 jaja, pavlaka, kačkavalj</td>
                    <td>420d.</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>