<div class="header-image">
    <div class="container container--vertical-center">
        <h1 class="container__headline">
            NAŠA PRIČA<br>
        </h1>
        <br>
        <p class="our-story">
            Plankton food je nastao iz ljubavi prema dobroj hrani. <br><br>
            
            Posle vise godina istrazivanja, ucenja, analiziranja I previse pojedenog girosa, poceli smo da pravimo I razvijamo jedan poseban ukus. <br><br>
            Mix grcke I turske tradicionalne kuhinje, uz najbolje sastojke iz obe, dobili smo savrsenu marinadu, perfektno zacinjenu, koja na poseban nacin aromatizuje meso koje ce ostaviti ukus kvaliteta I tradicije. <br><br>
    
            Tako je razvijena vestina pravljenja girosa I jos mnogo drugih specijaliteta, po kojima cemo vremenom postati cuveni sirom zemlje I regiona. <br><br>
            
            Oslonili smo se na sopstvenu preduzimljivost, tradiciju razlicitih kuhinja I energicni entuzijazam svojih naslednika, kako bi osnovali kompaniju koja ce tajnu tajnog recepta podeliti sa velikim brojem ljubitelja dobrog ukusa sirom sveta. <br><br>
            
            Od tada deo tradicije nam postaju I pazljivo ocuvanje kvaliteta, pracenje svetskih standarda tehnologije, proizvodnje I zastita zivotne sredine kao I stalno ulaganje u razvoj novih proizvoda I ukusa....
        </p>
    </div>
</div>