<header class="header">
	<div class="container">
		<div class="logo"></div>
		<nav class="nav">
			<ul class="main-menu">
				<li class="main-menu__nav-item">
					<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="main-menu__nav-item__link">
						POČETNA
					</a>
				</li>
				<li class="main-menu__nav-item">
					<a routerLink="menu" routerLinkActive="active" class="main-menu__nav-item__link">
						MENI
					</a>
				</li>
				<!-- <li class="main-menu__nav-item">
					<a routerLink="producing-process" routerLinkActive="active" class="main-menu__nav-item__link">
						PROCES PROIZVODNJE
					</a>
				</li> -->
				<li class="main-menu__nav-item">
					<a routerLink="our-story" routerLinkActive="active" class="main-menu__nav-item__link">
						NAŠA PRIČA
					</a>
				</li>
				<li class="main-menu__nav-item">
					<a routerLink="partnership" routerLinkActive="active" class="main-menu__nav-item__link">
						PARTNERSTVO
					</a>
				</li>
				<li class="main-menu__nav-item">
					<a routerLink="contact" routerLinkActive="active" class="main-menu__nav-item__link">
						KONTAKT
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>