<footer class="footer">
    <h2 class="footer__headline">
        <span>DOSTAVA: VINČA, LEŠTANE, BOLEČ, KALUĐERICA, RITOPEK</span>        
    </h2>

    <div class="footer__content">
        <div class="footer__content__item">
            <h3>RADNO VREME:</h3>
            <p>
                Ponedeljak - Subota: <br><br>
                <span>09:00 - 23:30h</span>
            </p>
        </div>
        <div class="footer__content__item">
            <h3>ADRESA:</h3>
            <p>
                Profesora Vasića 1<br><br>
                Beograd - Vinča
            </p>
        </div>
        <div class="footer__content__item">
            <h3>TELEFON:</h3>
            <p>
                <a href="tel:+381655132440">065 513 24 40</a><br><br>
                <a href="tel:+381649896612">064 989 66 12</a>
            </p>
        </div>
        <div class="footer__content__item">
            <h3>Email:</h3>
            <p>
                <a href="email:plankton.klopa@gmail.com">plankton.klopa@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="footer__social-media">
        <a href="https://sr-rs.facebook.com/fastfoodplankton/" target="_blank" class="footer__social-media__item"><img src="../../../assets/img/social-media/fb.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/plankton_fastfood/?hl=en" target="_blank" class="footer__social-media__item"><img src="../../../assets/img/social-media/fb.png" alt="Instagram"></a>
    </div>
</footer>
