<footer class="footer">
    <h2 class="footer__headline">Restoran brze hrane Plankton doo. Vinča.</h2>
    <div class="footer__content">
        <div class="footer__content__item">
            <h3>RADNO VREME:</h3>
            <p>
                Ponedeljak - Petak: <span>09 - 22h</span><br>
                Subota: <span>9 - 14h</span>
            </p>
        </div>
        <div class="footer__content__item">
            <h3>ADRESA:</h3>
            <p>
                Vinacnski put 1a <br>
                Beograd - Vinca
            </p>
        </div>
        <div class="footer__content__item">
            <h3>TELEFON:</h3>
            <p>
                <a href="tel:+38164123123123">064 123 123 12</a><br>
                <a href="tel:+38164123123123">011 123 123 12</a>
            </p>
        </div>
        <div class="footer__content__item">
            <h3>Email:</h3>
            <p>
                <a href="email:ljamic@gmail.com">ljamic@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="footer__social-media">
        <a href="" class="footer__social-media__item"><img src="../../../assets/img/social-media/fb.png" alt="Facebook"></a>
        <a href="" class="footer__social-media__item"><img src="../../../assets/img/social-media/fb.png" alt="Instagram"></a>
        <a href="" class="footer__social-media__item"><img src="../../../assets/img/social-media/fb.png" alt="Email"></a>
        <a href="" class="footer__social-media__item"><img src="../../../assets/img/social-media/fb.png" alt="Telephone"></a>
    </div>
</footer>
